---
layout: default
title: A propos - Wescale - Cloud expert
class: a-propos
---
<div class="content">
    <section>
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="title">Notre histoire</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 history">
                    <p>
                        Tout a commencé avec quelques passionnés qui se sont rendus à l’évidence :<br/>
                        <b>Il faut des gens talentueux à
                        l’imagination foisonnante pour créer les infrastructures cloud de demain.</b>
                    </p>
                    <p>
                        Parce que c’est un milieu tellement vaste, qu’il évolue à une vitesse astronomique, nous
                        cherchons dans
                        le monde entier des personnes comme nous, pour fonder ensemble une <b>véritable communauté
                        d’experts</b>.
                    </p>
                    <p>
                        Nous construisons les solutions <b>avec nos clients</b>. Parce que notre <b>objectif est de
                        collaborer</b>,
                        nous travaillons à <b>nourrir la culture DevOps</b>.
                    </p>
                    <p>
                        Vous retrouverez chez chacun de nous des traits de personnalité communs. <b>Ouverts et partageurs</b>
                        , les scalers
                        sont <b>passionnés</b> par ce qu’ils font. Ils cherchent toujours à <b>améliorer les choses</b>.
                        Ils aiment aussi bien sûr se rafraîchir en partageant des verres.
                        Les scalers contribuent à <b>l’évolution et au bien-être des autres</b>.
                        Pour finir, les scalers n’hésitent jamais à <b>donner leur avis</b> et ce quel
                        qu’il soit.
                    </p>

                </div>
                <div class="col-md-4 valeurs">
                    <h2>Nos valeurs</h2>
                    <ul>
                        <li>
                            Passion
                        </li>
                        <li>
                            Fun
                        </li>
                        <li>
                            Ecoute
                        </li>
                        <li>
                            Partage
                        </li>
                        <li>
                            Amélioration continue
                        </li>
                        <li>
                            Simplicité
                        </li>
                        <li>
                            Amitié
                        </li>
                        <li>
                            Ouverture
                        </li>
                        <li>
                            Tolérance
                        </li>
                    </ul>

                </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title">L'équipe</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="equipe col-md-12">

                        {% for wewe in site.wewes %}
                        {% for we in wewe.wewes %}
                        <div class="equipe-photo"
                             style="background: url({{ we.img | relative_url }}) no-repeat center center;background-size: cover;">

                            <div class="equipe-mask"></div>
                            <div class="equipe-name">
                                <h2>{{we.name}}</h2>
                                <h3>{{we.title}}</h3>
                                {% if we.text %}
                                <p style="text-align: center; color: white;">
                                    {{ we.text }}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        {% endfor %}


                    </div>
    </section>
</div>
