---
layout: default
title: Expertises - Wescale - Cloud expert
class: partenariats
---
        <section class="home-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 ">
                        <img src="/images/iconTraining.png" width="200px" alt="Formation">

                    </div>
                    <div class="col-md-8 home-content">
                                    <h1 class="title">Cloud experts</h1>
            <p class="home-text">
                      Nos consultants sont certifiés sur les plateformes Cloud public et privé. Wescale investi en
                        continue dans la formation des wewes.
            </p>
                        <p class="home-text">
                      Un jour par mois nous nous réunissons tous ensemble pour faire de la veille technologique,
                            partager des retours d'expériences et discuter autour d'un verre.
            </p>

                    </div>
                </div>
            </div>
        </section>
    <div class="content">
      <section>
        <div class="container">
{% for techs in site.expertises %}
          <div class="row">
            <div class="col-md-12">
              <h1 class="title">{{ techs.title }}</h1>
            </div>
          </div>
            <div class="row partenariat-list">
    {% for tech in techs.all %}
               <div class="col-xs-6 col-sm-6 col-md-3 col-xl-2">
                    <div class="partenaire-image">
                      <img src="{{ tech.img }}" alt="{{ tech.name }}" />
                    </div>
                </div>
    {% endfor %}
            </div>
{% endfor %}


        </div>
      </section>
    </div>

