---
layout: default
title: Formations - Wescale - Improve Together
class: formations
push-date:
    - link: "/formations/Formation-Terraform.html"
      img: "/images/formations/terraform.png"
      title: "Terraform"
      fulltitle: "Formation Terraform : 28 et 29 novembre 2019 Paris"
      short: "Formation Terraform 2 jours"
      badge-up: "28 <span>et</span> 29"
      badge-down: "Novembre<br/>2019"

    - link: "/formations/Formation-XL-Deploy.html"
      img: "/images/formations/xl-deploy.png"
      title: "XL Deploy"
      fulltitle: "Formation XL Deploy : 3 au 5 décembre 2019 Paris"
      short: "Formation XL Deploy 3 jours"
      badge-up: "3 <span>au</span> 5"
      badge-down: "Décembre<br/>2019"

    - link: "/formations/Formation-XL-Release.html"
      img: "/images/formations/xl-release.png"
      title: "XL Release"
      fulltitle: "Formation XL Release : 10 et 11 décembre 2019 Paris"
      short: "Formation XL Release 2 jours"
      badge-up: "10 <span>et</span> 11"
      badge-down: "Décembre<br/>2019"

    - link: "/formations/Formation-Kubernetes-avancee.html"
      img: "/images/formations/Kubernetes-avancee-white.png"
      title: "Kubernetes avancée"
      fulltitle: "Formation Kubernetes avancée : 16 et 17 décembre 2019 Paris"
      short: "Formation Kubernetes avancée 2 jours"
      badge-up: "16 <span>et</span> 17"
      badge-down: "Décembre<br/>2019"

    - link: "/formations/Formation-Docker-Kubernetes.html"
      img: "/images/formations/docker-kubernetes.png"
      title: "Docker Kubernetes"
      fulltitle: "Formation Docker Kubernetes : 13 au 15 janvier 2019 Paris"
      short: "Formation Docker Kubernetes 3 jours"
      badge-up: "13 <span>au</span> 15"
      badge-down: "Janvier<br/>2019"

    - link: "/formations/Formation-Ansible.html"
      img: "/images/formations/ansible.png"
      title: "Ansible"
      fulltitle: "Formation Ansible : 19 et 20 mars 2019 Paris"
      short: "Formation Ansible 2 jours"
      badge-up: "19 <span>et</span> 20"
      badge-down: "Mars<br/>2019"



---

  <section  id="formations-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center home-content">
                <h1 class="title no-bold">Nous vous <b>formons</b> sur les <b>technologies</b> qui nous <b>passionnent</b></h1>
                <h2 class="title"><a href="{{ '/formations/Formation-Ansible.html' | relative_url }}" title="Formation Ansible">Ansible</a>,
                    <a href="{{ '/formations/Formation-Docker-Kubernetes.html' | relative_url }}" title="Formation Doker et Kubernetes">Docker</a>,
                     <a href="{{ '/formations/Formation-Kubernetes.html' | relative_url }}" title="Formation Kubernetes">Kubernetes</a>,
                    <a href="{{ '/formations/Formation-Terraform.html' | relative_url }}" title="Formation Terraform">Terraform</a>,
                    <a href="{{ '/formations/Formation-XL-Deploy.html' | relative_url }}" title="Formation XL Deploy">XL Deploy</a>,
                    <a href="{{ '/formations/Formation-XL-Release.html' | relative_url }}" title="Formation XL Release">XL Release</a></h2>
            </div>
        </div>
    </div>
</section>
        <section id="formations-dates">
                <div class="content bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-heading">Nos prochaines formations</h2>
                    </div>
                </div>
                <div class="row">
      {% for formation in  page.push-date %}
                    <div class="col-md-4 col-sm-6" style="text-align:center;">
                        <a class="a-none" href="{{ formation.link| relative_url }}" title="{{ formation.fulltitle}}">
                        <div class="formation-push-date-hover">
                            <div class="formation-push-date-hover-content">
                            <h4><i class="fa fa-plus fa-3x"></i></h4>
                            </div>
                        </div>
                        <div class="formation-push-date">
                            <div class="row no-margin">
                                <div class="col-xs-6">
                                    <img src="{{ formation.img
                                    | relative_url }}" style="max-width: 90%" alt="{{ formation.short }}">
                                </div>
                                <div class="col-xs-6 bg-green">
                                    <h3>{{ formation.badge-up }}</h3>
                                    <p class="bottom-cal">
                                        {{ formation.badge-down }}
                                    </p>
                                </div>
                            </div>
                            <p class="push-caption">
                                <a href="{{ formation.link | relative_url }}" title="Inscription {{formation.short}}">Inscrivez-vous</a>
                            </p>
                        </div>
                        </a>
                    </div>
      {% endfor %}
                </div>
            </div>
            </div>
        </section>
        <section id="catalogue-formations">
            <div class="content ">
                <div class="container">
        <div class="row ">
            <div class="col-md-12">
              <h1 class="text-center">Notre catalogue de formations</h1>
            </div>
          </div>

            <div class="row formation">
          {% for formation in site.formations %}
      <!--      {% capture row %}{% cycle '1', '2' %}{% endcapture %}


            {% if row == '1' %}
                    <div class="row formation">
                        {% endif %}-->

                        <div class="col-xs-12">
                            <div class="thumbnail">
                                <h2 class="bg-green">
                                    {{formation.title}} - <i>{{formation.desctitle}}</i>
                                    <em>{{ formation.duree }}</em>
                                </h2>

                                <!--         <div class="col-xs-2 no-margin formation-push-date">
                                               <div class=" text-center">
                                                   <img src="{{ formation.img
                                                   | relative_url }}" width="150px" alt="{{ formation.short }}">
                                               </div>
                                         </div>-->
                                <div class="row formation-pad">
                                    <div class="col-xs-3" style="text-align: center;">
                                        <img src="{{ formation.img
                                    | relative_url }}" width="150px" alt="{{ formation.short }}">
                                    </div>
                                    <div class="col-xs-9"><p class="formations-pitch">{{ formation.pitch }}</p>
                                        <a href="{{ formation.url | relative_url}}" class="job-button button-sm right">Découvrez
                                            le programme</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--
                                    <div class="col-md-6">
                                          <div class="thumbnail" style="padding: 10px">

                                        <a href="{{ formation.url | relative_url}}">
                                        <img width="150"  src="{{formation.img|relative_url}}">
                                        </a>

                                      <h2>{{formation.title}} - <em>{{ formation.duree }}</em></h2>

                                      <p class="formations-pitch">{{ formation.pitch }}</p>

                                      <a href="{{ formation.url | relative_url}}" class="button">En savoir plus</a>
                                      </div>
                                    </div>

            {% if row == '2' %}
          </div>
            {% endif %}-->
         {% endfor %}
                 </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p style="text-align: center;font-weight: bold;">
                  <a href="https://www.data-dock.fr/" target="_blank"><img width="100px" src="{{"/images/formations/datadock.jpg" |
                      relative_url}}"></a>

                wescale est enregistrée organisme de formation sous le numéro 11 75 553 1375.
              </p>
            </div>
          </div>
        </div>
    </div>
      </section>
