---
layout: default
title: WeScale - L'excellence Cloud sur mesure !
class: home
meta_desc: |
  WeScale vous aide à penser, construire, et maîtriser vos infrastructures Cloud. Conseil, Réalisation et Formation
jobs_url:
  designer: https://www.welcometothejungle.co/companies/wescale/jobs/cloud-designer_paris_WESCA_780wXyk
  builder: https://www.welcometothejungle.co/companies/wescale/jobs/cloud-builder_paris
  runner: https://www.welcometothejungle.co/companies/wescale/jobs/cloud-runner_paris_WESCA_KrPy00j
---
<section class="home-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 home-content">
                <h1 class="title">L'excellence Cloud sur mesure !</h1>
                <h2 class="home-text">
                    Nos équipes vous aident à penser, construire, et maîtriser vos infrastructures Cloud.
                </h2>

            </div>

        </div>
    </div>
</section>
<!--<section title="metier" class="home-metier bg-gray">
     <div class="container">
        <div class="row">
            <div class="col-md-4">
               <h3><i class="fa fa-lightbulb" aria-hidden="true"></i></h3>
                <h3>Conseil</h3>
                <p>
                    Nous détaillons avec vous l’expression de vos besoins pour mieux comprendre vos enjeux,
                    et vous accompagnons pour projeter les prochaines évolutions de votre système d’information.<br>
                    Nos experts interviennent en Automatisation, Cloud, Conteneurs, BigData, Observabilité, Sécurité, ...

                    &lt;!&ndash;
                    Le <b>continuous delivery</b> n'est pas réservé aux <b>GAFA</b>, tout le monde peut l'atteindre !
                    C'est pourquoi nous travaillons à <b>supprimer</b> les <b>contraintes</b> entre les <b>développements</b>
                    et la <b>livraison de valeur</b> à vos utilisateurs.&ndash;&gt;
                </p>
            </div>
            <div class="col-md-4">
                <h3><i class="fa fa-cogs" aria-hidden="true"></i></h3>
                <h3>Réalisation</h3>
                <p>
                    Nous vous aidons à concrétiser vos projets dans une approche DevOps, grâce à la participation de nos
                    experts collaborant au quotidien avec vous. Nous développons des plateformes Cloud Native adaptées et résilientes du
                    développement à la production.
                    &lt;!&ndash;Nous construisons les solutions avec et pour nos clients. Notre objectif est de <b>collaborer</b>,
                    c’est
                    pourquoi nous travaillons à nourrir la culture <b>DevOps</b>.<br>
                    Nous sommes les <b>Ops</b> de <b>DevOps</b>&ndash;&gt;
                </p>
            </div>
            <div class="col-md-4">
                <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i></h3>
                <h3>Formation</h3>
                <p>
                    Nos experts vous formons sur les technologies DevOps qui nous passionnent.
                    Notre catalogue de formations est là pour faire monter en compétences vos équipes. Nous produisons des
                    plans de formation issus de nos expériences de terrain et sommes à même de les adapter à votre
                    contexte.
                    &lt;!&ndash;Nos consultants sont <b>certifiés</b> sur les plateformes <b>Cloud public</b> (AWS, Google, Azure)
                    et
                    <b>Cloud privé</b> (OpenStack). Wescale investit en continu dans la formation des scalers.&ndash;&gt;
                </p>
            </div>

        </div>
     </div>
</section>-->


    <!-- Bloc Offres  -->
    <section title="offres" >
        <div class="container-fluid bg-light content portfolio-container" id="offres">
            <div class="row padding-btm">
                 <div class="col-lg-12 text-center">
            <h2 class="section-heading ">Nos réponses à vos besoins</h2>
                </div>
            </div>

<div class="row no-gutters rolldown-gallery">
{% for offre in site.offres %}
            <div class="col-md-3 col-sm-6 portfolio-item text-center" id="{{offre.name| slugify: 'ascii' }}"
                data-content="#content-{{offre.name| slugify: 'ascii' }}">
            <a class="portfolio-link"  href="#{{offre.name| slugify: 'ascii' }}" title="{{offre.name}}">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <div class="img-roll">
                  <img class="img-fluid svg" src="{{offre.thumb|relative_url}}" alt="{{offre.title}}">
              </div>

            <div class="portfolio-caption">
              <h3>{{offre.title}}</h3>
            </div>
            </a>
          </div>
         <div class="gridder-content col-md-12 col-sm-12" id="content-{{offre.name| slugify: 'ascii' }}" style="display: none;">
                <div class="col-md-4 middle">
                    <img src="{{offre.img|relative_url}}" alt="{{offre.title}}">
                </div>
                <div class="col-md-8">
                    {{ offre.output }}
                    <footer>
<!--
                        <a href="https://blog.wescale.fr/tag/{{offre.tag}}/" target="_blank">Découvrez nos publications {{offre.title}}</a>
-->
                        <a class="job-button button-xs" href="{{ "/contact.html"| relative_url }}" title="Contact">Parlons-en</a>
                    </footer>
                </div>
         </div>
    {% endfor %}
        </div>

        </div>
    </section>
<div class="content" id="partenaire-aws-gcp">
    <section class="home-layer" >
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p><b>WeScale</b> confirme son <b>savoir-faire</b> et son <b>expertise</b> sur le cloud, en devenant
                        l’une des <b>rares entreprises françaises</b> à la fois certifiée :</p>
                    <p>
                        <b>Advanced Consulting Partner</b> par Amazon Web Services et <b>Google Cloud Partner</b> par
                        Google Cloud Platform.</p>
                </div>
            </div>
            <div class="row vertical-align">
                <div class="col-md-6">
                    <a href="https://aws.amazon.com/fr/partners/find/partnerdetails/?n=WeScale&id=001E0000019GSurIAG" title="Partenaire AWS" target="_blank">
                        <img width="300px" src="{{"/images/partenariats/aws-advanced-consulting-partner.png"|
                                relative_url }}" alt="AWS Advanced Consulting Partner""></a>
                </div>
                <div class="col-md-6">
                    <a href="https://cloud.google.com/partners/directory/#?q=wescale" title="Partenaire GCP" target="_blank">
                        <img width="300px" src="{{"/images/partenariats/Google-Cloud-Partner-Badge.png"|
                                relative_url }}" alt="Google Cloud Partner""></a>
                </div>
            </div>
        </div>
    </section>
    <section class="home-techtrends">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="techtrends-title">
                        <h2 id="nos-publications">Nos Publications</h2>
                        <p>
                            Chez WeScale, nous avons la mission de partager nos connaissances et de faire grandir
                            l’expertise autour de nous. Issus de notre expérience terrain, nous réunissons
                            régulièrement notre savoir-faire sous la forme de CloudRadar. Ces publications sont
                            focalisées sur une tendance technologique, elles vous en dressent l’état de l’art et
                            proposent des solutions techniques et méthodologiques pour vous accompagner.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-6 col-lg-offset-3">
                    <div class="techtrends">
                        <div class="techtrends-image">
                            <a id="tt-link-conteneurs" href="//info.wescale.fr/cloudradar-cloudnative" title="Cloud Radar Cloud Native Partie 2" target="_blank"><img src="{{"/images/radar/CloudRadar-CLOUDNATIVE.png"|
                                relative_url }}" alt="CloudRadar Cloud Native Partie 2" /></a>
                        </div>
                        <div class="techtrends-text">
                            <h2>Cloud Native Partie 2</h2>
                            <p>
                               Dans la partie 2 de ce guide du Cloud Native, découvrez les recettes essentiels pour construire son SI Cloud Native.
                                En adoptant les bonnes solutions, d'infrastructures, d'architecture et de développement.
                                <br/>
                                Construisez Cloud Native !
                            </p>
                            <p class="news-readmore"><a class="job-button button-sm" href="//info.wescale.fr/cloudradar-cloudnative-2" title="Télécharger le CloudRadar CloudNative Partie 2" target="_blank">Télécharger</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
          <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="techtrends">
                        <div class="techtrends-image">
                            <a id="tt-link-conteneurs" href="//info.wescale.fr/cloudradar-finops" title="Cloud Radar FinOps" target="_blank"><img src="{{"/images/radar/CloudRadar-FINOPS.png"|
                                relative_url }}" alt="CloudRadar FinOps" /></a>
                        </div>
                        <div class="techtrends-text">
                            <h2>FinOps</h2>
                            <p>
                               La connaissance fine des modèles de facturation des fournisseurs et des possibilités
                                offertes par l’automatisation permet d’optimiser la consommation de ressources Cloud.
                                <br/>
                                Mais alors, comment maîtriser et optimiser ses coûts d’infrastructure dans le Cloud  ?
                            </p>
                            <p class="news-readmore"><a class="job-button button-sm" href="//info.wescale.fr/cloudradar-finops" title="Télécharger le CloudRadar FinOps" target="_blank">Télécharger</a>
                            </p>
                        </div>
                    </div>
                </div>
              <div class="col-sm-12 col-lg-6">
                    <div class="techtrends">
                        <div class="techtrends-image">
                            <a id="tt-link-conteneurs" href="//info.wescale.fr/cloudradar-cloudnative-1" title="Cloud Radar Cloud Native Partie 1" target="_blank"><img src="{{"/images/radar/CloudRadar-CLOUDNATIVE.png"|
                                relative_url }}" alt="CloudRadar Cloud Native Partie 1" /></a>
                        </div>
                        <div class="techtrends-text">
                            <h2>Cloud Native Partie 1</h2>
                            <p>
                               Le guide définitif du Cloud Native pour le comprendre, construire son SI Cloud Native et
                                grandir dans ce nouvel ordre mondial.
                                <br/>
                                Dans cette première partie, nous vous aidons à comprendre le Cloud Native, son modèle de maturité, et ses facteurs clés !
                            </p>
                            <p class="news-readmore"><a class="job-button button-sm" href="//info.wescale.fr/cloudradar-cloudnative-1" title="Télécharger le CloudRadar CloudNative partie 1Ë" target="_blank">Télécharger</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="techtrends">
                        <div class="techtrends-image">
                            <a id="tt-link-conteneurs" href="//info.wescale.fr/cloudradar-conteneurs" title="CloudRadar Conteneurs" target="_blank"><img src="{{"/images/radar/CloudRadar-CONTENEUR.png"|
                                relative_url }}" alt="CoudRadar Conteneurs" /></a>
                        </div>
                        <div class="techtrends-text">
                            <h2>Conteneurs</h2>
                            <p>
                                Dans ce document, nous vous partageons notre vision des conteneurs. La première partie
                                <b>Projeter</b> propose d’identifier différents cas d’usage des conteneurs. Par la
                                suite, la partie <b>Implémenter</b> vous invite à construire une plateforme
                                conteneurisée avec les bons outils. Pour finir, le chapitre <b>Exploiter</b> vous aide à
                                faire vivre la plateforme conteneurisée.
                            </p>
                            <p class="news-readmore"><a class="job-button button-sm" href="//info.wescale.fr/cloudradar-conteneurs" title="Télécharger le CloudRadar Conteneurs" target="_blank">Télécharger</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="techtrends">
                        <div class="techtrends-image">
                            <a id="tt-link-cloud" href="//info.wescale.fr/cloudradar-cloud" title="Techtrends Cloud" target="_blank"><img src="{{"/images/radar/CloudRadar-CLOUD.png"|
                                relative_url }}" alt="Techtrends Cloud" /></a>
                        </div>
                        <div class="techtrends-text">
                            <h2>Cloud</h2>
                            <p>Dans le paysage IT actuel, le Cloud Computing est omniprésent. Cependant, même si son
                                adoption
                                progresse au sein des entreprises, la migration de tout ou partie d’un parc applicatif
                                reste
                                bien
                                souvent complexe. Les acteurs de cet écosystème sont de plus en plus nombreux et les
                                offres se
                                multiplient en conséquence. Les décideurs sont confrontés à des choix stratégiques et
                                technologiques
                                difficiles.</p>
                            <p class="news-readmore"><a class="job-button button-sm" href="//info.wescale.fr/cloudradar-cloud" title="Télécharger le CloudRadar Migration Cloud" target="_blank">Télécharger</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="home-partenaires">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="title">Nos Références</h1>
                    <!--<p class="subtitle">Nous accompagnons les projets de nombreux clients grands comptes institutionnels, industriels ou du monde bancaire.</p>-->
                </div>
            </div>
            {% for reference in site.references %}
            {% for ref in reference.references %}
            {% capture row %}{% cycle '1', '2', '3', '4' %}{% endcapture %}
            {% if row == '1' %}
               <div class="row row-partenaires text-center">
            {% endif %}
                <div class="col-sm-3">
                        <a href="{{ref.url}}" title="{{ref.name}}" target="_blank">
                            <img src="{{ ref.img| relative_url }}" alt="{{ref.name}}"  />
                        </a>
                </div>
            {% if row == '4' %}
               </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
<!--                    <div class="partenaires">
                        <a href="https://www.arval.fr/" target="_blank">
                            <img src="{{"/images/references/client-arval.jpg"| relative_url }}" alt="" width="150px" />
                        </a>
                        <a href="http://www.bpifrance.fr/" target="_blank">
                            <img src="{{"/images/references/client-bpifrance.gif"| relative_url }}" alt="" width="150px"
                            />
                        </a>
                        <a href="https://www.ald.softbankrobotics.com/fr" target="_blank">
                            <img src="{{"/images/references/client-softbank-robotics.png"| relative_url }}" alt=""
                            width="150px" />
                        </a>
                        <a href="http://www.menlook.com/fr/" target="_blank">
                            <img src="{{"/images/references/client-menlook.png"| relative_url }}" alt="" width="150px"
                            />
                        </a>
                        <a href="http://www.agirc-arrco.fr/" target="_blank">
                            <img src="{{"/images/references/client-girc-agirc-arrco.png"| relative_url }}" alt=""
                            width="150px" />
                        </a>
                        <a href="https://www.thalesgroup.com/fr" target="_blank">
                            <img src="{{"/images/references/client-thales.jpg"| relative_url }}" alt="" width="150px" />
                        </a>
                        <a href="http://www.canalplus.fr/" target="_blank">
                            <img src="{{"/images/references/client-canal-plus.png"| relative_url }}" alt=""
                            width="150px" />
                        </a>
                        <a href="http://www.deolan.com/" target="_blank">
                            <img src="{{"/images/references/client-deolan.png"| relative_url }}" alt="" width="150px" />
                        </a>
                        <a href="https://www.ingenico.com/fr" target="_blank">
                            <img src="{{"/images/references/client-ingenico.png"| relative_url }}" alt="" width="150px"
                            />
                        </a>
                        <a href="http://www.societegenerale.fr/" target="_blank">
                            <img src="{{"/images/references/client-societe-generale.png"| relative_url }}" alt=""
                            width="150px" />
                        </a>
                        <a href="https://www.cloudwatt.com/fr/" target="_blank">
                            <img src="{{"/images/references/client-orange.jpeg"| relative_url }}" alt="" width="100px"
                            />
                        </a>
                        <a href="https://dtv.nagra.com/" target="_blank">
                            <img src="{{"/images/references/client-nagra-kudelski.png"| relative_url }}" alt=""
                            width="150px" />
                        </a>
                        <a href="http://www.michelin.fr/" target="_blank">
                            <img src="{{"/images/references/client-michelin.jpg"| relative_url }}" alt="" width="150px"
                            />
                        </a>
                        <a href="https://www.tennaxia.com/" target="_blank">
                            <img src="{{"/images/references/client-tennaxia.png"| relative_url }}" alt="" width="150px"
                            />
                        </a>
                        <a href="http://www.figaroclassifieds.fr/" target="_blank">
                            <img src="{{"/images/references/client-figaro-classifieds.jpg"| relative_url }}" alt=""
                            width="150px" />
                        </a>
                        <a href="https://www.parrot.com/fr" target="_blank">
                            <img src="{{"/images/references/client-parrot.jpg"| relative_url }}" alt="" width="150px" />
                        </a>
                        <a href="http://www.senat.fr/" target="_blank">
                            <img src="{{"/images/references/client-senat.png"| relative_url }}" alt="" width="100px" />
                        </a>
                    </div>-->
                    <!--
                    -->
            </div>
        </div>
    </section>
</div>

<!--
4561110179972039
211
-->
