<div id="tt-form-div-{{include.tt}}">
                <div class="modal fade" id="myModal-{{include.tt}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Télécharger le TechTrends {{include.tt|capitalize}}</h4>
                      </div>
{% if include.tt == 'conteneurs' %}
<!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
	portalId: "2583450",
	formId: "aa50fb37-1e68-4413-bb7d-de835e84fc7b",
	css: ""
});
</script>
{% endif %}
{% if include.tt == 'cloud' %}
<!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
	portalId: "2583450",
	formId: "0cba3fdb-25be-45d3-82c0-ad180efecbe0",
	css: ""
});
</script>
{% endif %}

                         <!--<form method="POST" accept-charset="UTF-8" data-toggle="validator" id="tt-form-{{include.tt}}">
                      <div class="modal-body" id="tt-body">

                            <div class="form-group">
                              <label>Civilité</label>
                           <div class="radio">
                              <label>
                                <input type="radio" name="civilite" id="civilite_m"  required value="M">
                                M
                              </label>
                            </div>
                              <div class="radio">
                              <label>
                                <input type="radio" name="civilite" id="civilite_mme" required value="Mme">
                                Mme
                              </label>
                            </div>
                              </div>
                           <div class="form-group">
                             <label for="prenom">Prénom</label>
                              <input type="text" class="form-control" id="prenom" name="prenom" required placeholder="Prénom">
                            </div>
                           <div class="form-group">
                             <label for="nom">Nom</label>
                              <input type="text" class="form-control" id="nom" name="nom" required placeholder="Nom">
                            </div>
                           <div class="form-group">
                             <label for="email">E-mail</label>
                              <input type="email" class="form-control" id="email" name="email" required placeholder="E-mail">
                            </div>
                           <div class="form-group">
                             <label for="societe">Société</label>
                              <input type="text" class="form-control" id="societe" name="societe" required placeholder="Société">
                            </div>
                           <div class="form-group">
                             <label for="fonction">Fonction</label>
                              <input type="text" class="form-control" id="fonction" name="fonction" required placeholder="Fonction">
                            </div>
                            <div class="form-group">
                              <label>
                                <input type="checkbox" name="keep-inform" value="J'autorise Wescale à me tenir informé par e-mail." checked> J'autorise Wescale à me tenir informé par e-mail.
                              </label>
                            </div>
                            <input type="hidden" name="tt" value="{{include.tt}}">
                      </div>
                      <div class="modal-footer">
                          <div class="pull-left">Un e-mail vous sera envoyé avec le lien.</div><input type="submit" value="Envoyer" class="pull-right" id="tt-submit-{{include.tt}}" />
                        </div>
                        </form>-->
                    </div>
                  </div>
                </div>

              </div>