                <div id="rejoignez-nous-form">
                    <div class="modal fade" id="rejoignez-nous-modal" tabindex="-1" role="dialog" aria-labelledby="rejoignez-nous-modal-label">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Rejoins nous !</h4>
                      </div>
                         <form method="POST" accept-charset="UTF-8" data-toggle="validator" id="rejoignez-nous-form">
                      <div class="modal-body" id="rejoignez-nous-form">

                            <div class="form-group">
                             <label for="prenom">Prénom</label>
                              <input type="text" class="form-control" id="prenom" name="prenom" required placeholder="Prénom">
                            </div>
                           <div class="form-group">
                             <label for="nom">Nom</label>
                              <input type="text" class="form-control" id="nom" name="nom" required placeholder="Nom">
                            </div>
                           <div class="form-group">
                             <label for="email">E-mail</label>
                              <input type="email" class="form-control" id="email" name="email" required placeholder="E-mail">
                            </div>
                          <div class="form-group">
                             <label for="message">Message</label>
                              <textarea id="message" name="message" required placeholder="Ton message" class="form-control" rows="3"></textarea>
                            </div>
                      </div>
                      <div class="modal-footer">
                          <div class="pull-left">Un e-mail sera envoyé.</div><input type="submit" value="Envoyer" class="pull-right" id="rejoignez-nous-submit" />
                        </div>
                        </form>
                    </div>
                  </div>
                </div></div>