---
layout: default
---

    <div class="content">
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-9 white-content">
                <h4><a href="{{"/formations.html"| relative_url}}">Formations</a> &gt; {{page.title}} </h4>
{{ content }}
            </div>

            <div class="col-md-3">
              <div class="course-image">
                <img width="150" height="150" src="{{page.img | relative_url}}">
              </div>

              <div class="formation-block">
                <p>{{ page.subtitle }}</p>
              </div>

              <div class="formation-block">
                <a href="{{ page.pdf| relative_url }}" class="button"><i class="fa fa-download" aria-hidden="true"></i>
 Programme détaillé</a>
                <a href="{{"/pdf/wescale_formation_formulaire_inscription.pdf"| relative_url}}" class="button"><i class="fa fa-download" aria-hidden="true"></i>
 Formulaire d'inscription</a>
              </div>

              <div class="formation-block">
                <table>
                  <tbody>
                    <tr class="su-even">
                      <td>Prix HT</td>
                    </tr>
                    <tr>
                      <td>Inter : {{ page.tarif }}</td>
                    </tr>
                    <tr class="su-even">
                      <td>Intra : <a href="{{"/contact.html"| relative_url}}">Contactez nous</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="formation-block">
                  <a href="https://tnptraining.com/" target="_blank"><img width="100px" src="{{"/images/formations/tnp-training.jpg" |
                      relative_url}}"></a>
                  <a href="https://aws.amazon.com/fr/certification/" target="_blank"><img width="100px" src="{{"/images/formations/apn-training-partner-AWS.jpg" |
                      relative_url}}"></a>
                  <a href="https://www.data-dock.fr/" target="_blank"><img width="100px" src="{{"/images/formations/datadock.jpg" |
                      relative_url}}"></a>
                <p> Prise en charge possible<br>par votre OPCA</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
